<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Imovel</title>
</head>
<body>

<h1>Cadastro de Imovel</h1>

<br>

<div>

    <select name="opções" id="listCategorias" >
        <option selected>Escolha uma Categoria</option>
        <option th:each="categoria : ${categorias}"  th:text="${categoria.tipo}"></option>
    </select>

</div>

</body>
</html>