<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Cidade</title>
</head>
<body>

<h1>Cadastrar Cidade</h1>

<br>

<div>

    <form action="/cidades" method="post" th:object="${cidadeForm}">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"  required>

        <button type="submit">Salvar</button>
    </form>

</div>

</body>
</html>