<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Categorias</title>
</head>
<body>

    <h1>Lista de Categorias</h1>


    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>TIPO</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="categoria : ${categorias}">
                <td th:text="${categoria.id}"></td>
                <td th:text="${categoria.tipo}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>